.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

  .Title h1 {
    font-size: 3rem;
    margin: 0.2em;
  }

  .Title-Subtitle {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }

  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }

  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }

  .account-links {
    font-size: medium;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.Title button {
  margin: 10px 15px 0 10px;
  padding: 0.25em 0.5em;
}

@media only screen and (max-width: 960px) {
  .Title a {
    font-size: 1.35rem;
    margin: 0.5rem;
  }

  .Title h1 {
    font-size: 2rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .Title a {
    font-size: 1rem;
  }

  .Title h1 {
    font-size: 2rem;
    margin: 1rem;
  }
}